*{
    
    -fx-font-family: Roboto;
    -fx-base-color-focus:#BDC5C8 ;
    -fx-base-color-unfocus:#669999;
    -fx-base-color-titulos:#044195;
    -fx-base-color-error:#D31A0E;
    -fx-base-color-id:#900C3F;
    
}
.MainRoot{
    -fx-background-image:url("../recursos/wallpaperflare.com_wallpaper.jpg"); 
    -fx-background-size:stretch; 
}
.jfx-button{ 
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #28F4FC;
    -fx-pref-width: 200;
    -fx-text-fill: black;
}

.cancha{
    -fx-background-image:url("../recursos/cancha.png"); 
    -fx-background-size:stretch; 
}
.ImageView{
     -fx-background-image:url("../recursos/iconBall.png"); 
}
