*{
    
    -fx-font-family: Roboto;
    -fx-base-color-focus:#BDC5C8 ;
    -fx-base-color-unfocus:#669999;
    -fx-base-color-titulos:#044195;
    -fx-base-color-error:#D31A0E;
    -fx-base-color-id:#900C3F;
    
}